.barra-lateral {
  width: 240px;
  height: 100vh;
  background: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.encabezado-lateral {
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #48E;
}

.marca-lateral {
  display: flex;
  align-items: center;
  gap: 10px;
}

.marca-icono {
  flex-shrink: 0;
}

.marca-texto {
  display: flex;
  flex-direction: column;
}

.marca-titulo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.marca-subtitulo {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.menu-lateral {
  flex: 1;
  padding: 10px 0;
  overflow-y: auto;
  background-color: #ce15970c;

}

.opcion-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 11px 18px;
  color: #4A4545;
  font-size: 15px;
  font-weight: 500;
  border-left: 3px solid transparent;
}

.opcion-menu:hover {
  background: rgba(87, 128, 241, 0.842);
  color: #fff;
}

.opcion-menu.active {
  background: rgba(87, 128, 241, 0.842);
  color: #fff;
  border-left-color: #5cd7f6;
}

.pie-lateral {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 10px 0;
  background-color: #ce15970c;
}

.opcion-ayuda {
  margin-bottom: 5px;
}

.tarjeta-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 5px;
}

.avatar-usuario {
  width: 38px;
  height: 38px;
  background: #ec4899;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.datos-usuario {
  display: flex;
  flex-direction: column;
}

.nombre-usuario {
  color: #242020;
  font-size: 17px;
  font-weight: 700;
}

.correo-usuario {
  color: #a5a5c0;
  font-size: 15px;
}

@media (max-width: 900px) {
  .barra-lateral {
    transform: translateX(-100%);
  }
  
  .barra-lateral.open {
    transform: translateX(0);
  }
}